﻿@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<h2>CSCI 3250-090 - Summer 2018</h2>
<h3>Class List</h3>

<ol>
    <li><a href="/Students/Bennett">Brian Bennett, PhD</a></li>

    <li><a href="/Students/Daniel">John Daniel</a></li>
    <li><a href="/Students/Lane">Ben Lane, BaS</a></li>
    <li><a href="/Students/Manna">Madeline Manna</a></li>
    <li><a href="/Students/Onek">Tristan Onek</a></li>
    <li><a href="/Students/Pitman">Anthony Pitman</a></li>
    <li><a href="/Students/Vines">Jacob Vines</a></li>
    <li><a href="/Students/Snoddy">Mary Snoddy</a></li>
    <li><a href="/Students/Tucker">Micaela Tucker</a></li>
    <li><a href="/Students/Varner">Jerick Varner</a></li>
</ol>
